<html>
<head><title>About</title>
<link rel="icon" href="/static/images/favicon.png">


</head>
<body>
<h1 style="font-family:verdana;">This is the online geometry calculator.</h1>
<h4 style="font-family:arial; color:#60a0bf;">Here is possible to calculate different parametrs
  of different geometric figures.
Right now you can calculate the only one shape, but in the nearby future the new shapes will be added.
</h4>
<br>
<a href="{% url 'mainp' %}">home</a>&nbsp;
<a href="{% url 'feedback' %}">feedback</a>&nbsp;
<a href="{% url 'faq' %}">FAQ</a>








<div id="demo"></div>



</body>
</html>
