<html>
<head><title>Errors check</title>
<link rel="icon" href="/static/images/favicon.png">
</head>
<body>
<h1>Errors checker.</h1>
<br>
<h2>Perimeter: errors detected - {{show_error_of_perimeter_n}}, id contains error - {{id_of_perimeter_error_n}}</h2>
<h2>Angles sum: errors detected - {{show_error_of_angles_n}}, id contains error - {{id_of_angle_error_n}}</h2>
<br><br>
If there is several errors, then will be shown the last error(this fair for each separate error category, i.e. perimeter and angles).
<br>
The last column called "colorings_logs" in database table reflects which fields have been input by user it caused result.
</body>
</html>
