
<!DOCTYPE html>
<html lang="en">
<head>
<title>Feedback</title>
<script src="/static/js/dark_mode_preparing.js?{{dt}}"></script>
<link rel="icon" href="/static/images/favicon.png">
<link rel="stylesheet" type="text/css" href="/static/css/feedbackcss.css">
<link rel="stylesheet" type="text/css" href="/static/css/calcstyle.css?{{dt}}">
<link rel="stylesheet" type="text/css" href="/static/css/main.css?{{dt}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<!--Barlow, M+PLUS+Rounded+1c, Jura and Kanit used in Eng.
Fira+Sans+Extra+Condensed, Alegreya+Sans, Ubuntu, Jura and M+PLUS+Rounded+1c used in Rus.-->
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Barlow:wght@100&family=Fira+Sans+Extra+Condensed:wght@300&family=Jura:wght@700&family=Kanit:wght@300&family=M+PLUS+Rounded+1c:wght@500&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body onload="output()" onresize="showTextTitle()">

  <table class="external_table">
    <tr>
      <td style="vertical-align: top">
        <table class="main_table">
          <tr>
            <td class="main_1st_cell">
              <table class="top_cell_table">
                <tr>
                  <td class="left_cell_of_table_in_top_cell_main">
                    <h1 id="titletext_Feedback_Page"></h1>
                  </td>
                  <td class="before_right_cells_of_table_in_top_cell_main">
                    <div class="language_munu">
                      <button id="show_used_lang" class="chosen_lang" onclick="dropLangMenu()"></button>
                      <div id="dropdown_languages_show" class="dropdown_languages">
                        <a id="en_choice" onclick="set_en_lang()" href="">EN English</a>
                        <a id="ru_choice" onclick="set_ru_lang()" href="">RU Русский</a>
                        <a id="fr_choice" onclick="set_fr_lang()" href="">FR Française</a>
                      </div>
                    </div>
                  </td>
                  <td class="right_cells_of_table_in_top_cell_main">
                    <button id="todarkorlightbutton" class="color_mode_button_and_mobile_button" onclick="toDarkOrLight()"></button>
                  </td>
                  <td id="cellForCombinedButton" class="right_cells_of_table_in_top_cell_main">
                    <button id="tomobilebutton" class="color_mode_button_and_mobile_button" onclick="toMobile()"></button>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="main_2nd_cell">
              <table class="undertitle_and_links">
                <tr>
                  <td class="undertitle_cell">
                    <h2 id="undertitletext_Feedback_Page"></h2>
                  </td>
                  <td class="links">
                    <table class="inside_links">
                      <tr>
                        <td class="inside_links_left">&nbsp;&#931;
                        </td>
                        <td id="linksbox" class="inside_links_right" style="cursor: default">
                          <a id="homepage_link" href="{% url 'mainp' %}"></a>
                          <span id="dividedForLinks1" class="vl">&#0916;</span>
                          <a id="about_website_link" href="{% url 'about' %}"></a>
                          <span id="dividedForLinks2" class="vl">&#0916;</span>
                          <a id="faq_link" href="{% url 'faq' %}"></a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="main_3rd_cell">
              <table width="100%">
                <tr>
                  <td class="underh2cell">
                    Send you feedback here.
                    <!-- <span id="initext" class="text_underh2"></span> -->
                  </td>
                  <td style="text-align: right"><br>
                    ...
                  </td>
                </tr>
              </table>
              <span id="justTest"></span>

.....Type any your thoughts about this online geometry calculator.
<table align="center"><tr><td>

  <fieldset><legend class="legend_of_main_fieldset">Leave a feedback.</legend>

    <table class="main_table_in_main_fieldset">

      <tr>
        <td class="cell_1_in_main_table_in_main_fieldset">
        </td>
        <td class="cell_2_in_main_table_in_main_fieldset"><a class="message_under_legeng">Write your message here below.</a>
        </td>
        <td class="cell_3_in_main_table_in_main_fieldset">
        </td>
      </tr>

      <tr>
        <td class="cell_4_in_main_table_in_main_fieldset">
        </td>
        <td class="cell_5_in_main_table_in_main_fieldset">
          <table align="center"><tr><td class="cell_of_table_in_fifth_cell">

            <p id="warning_check" class="message_warns_to_check"></p>

            <table id="table_of_check_box" class="area_check_text" style="visibility:hidden"><tr><td>
              <table><tr><td class="cell_check_text">
                <p id="title_message_point" class="title_and_message_check_text"></p>
                <p id="show_title_pre_send" class="title_and_message_check_text_itself"></p>
                <p id="message_message_point" class="title_and_message_check_text"></p>
                <p id="show_message_pre_send" class="title_and_message_check_text_itself"></p>
              </td></tr></table>
            </td></tr></table>

            <form>
              <p id="ptitle" class="form_fields_naming" style="display:block">Title:</p>
              <textarea id="field_title" class="form_textarea" style="resize:none; display:block" cols="38" rows="2" placeholder="Shortly describe your message."></textarea>
              <p id="pmessage" class="form_fields_naming" style="display:block">Message:</p>
              <textarea id="field_message" class="form_textarea" style="resize:none" cols="38" rows="12" placeholder="Input your message here."></textarea>
            </form>

            <fieldset id="fieldset_of_response" class="fieldset_of_response_message" style="display:none">
              <p id="show_response" class="message_of_response" style="display:block"></p>
              <button id="close" class="close_button" type="button" onclick="close_sent_message()" style="display:none">Close</button>
            </fieldset>

          </td></tr></table>
        </td>
        <td class="cell_6_in_main_table_in_main_fieldset">
        </td>
      </tr>

      <tr>
        <td class="cell_7_in_main_table_in_main_fieldset">
        </td>
        <td class="cell_8_in_main_table_in_main_fieldset">

          <table>
            <tr>
              <td>
                <button id="editbutton" class="edit_button" type="button" onclick="edit()" style="display:none"><a id="buttonEdit">Edit</a></button>
              </td>
              <td>
                <button id="multibutton" class="ready_send_button" type="button" onclick="hideform()" style="display:block"><a id="buttonfeedback">Ready</a></button>
              </td>
            </tr>
          </table>

        </td>
        <td class="cell_9_in_main_table_in_main_fieldset">
        </td>
      </tr>

    </table>

  </fieldset>

</td></tr></table>
            </td>
          </tr>
          <!-- <tr>
            <td id="testColor">
              <span id="testMessage">4</span>
            </td>
          </tr> -->
        </table>
      </td>
    </tr>
    <tr>
      <td class="bottom_cell_of_external_table">
        <table class="table_inside_bottom_cell_of_external_table">
          <tr>
            <td>
              <table class="table_inside_table_inside_bottom_cell_of_external_table">
                <tr>
                  <td class="left_bottom_text_cell">
                    <span class="left_bottom_text">Personal project</span>
                  </td>
                  <td class="bottom_text_cell">
                    <span class="bottom_text">All Rights Reserved. Edgar Vanbin &#169;, 2021</span>
                  </td>
                  <td class="right_bottom_text_cell">
                    <span class="right_bottom_text">Alpha version</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<script>var csrftoken_calc_request = '{{ csrf_token }}';</script>
<!-- <script src="/static/js/calculation_request.js?{{dt}}"></script> -->
<script src="/static/js/color_modes.js?{{dt}}"></script>
<script src="/static/js/language_supply.js?{{dt}}"></script>
<script src="/static/js/desktop_mobile.js?{{dt}}"></script>
<!-- <script src="/static/js/functions.js?{{dt}}"></script> -->
<!-- <script src="/static/js/labels_colors.js?{{dt}}"></script> -->
<!-- <script src="/static/js/onclick_label.js?{{dt}}"></script> -->
<!-- <script src="/static/js/warning_functions.js?{{dt}}"></script> -->
<!-- <script src="/static/js/placeholders_functions.js?{{dt}}"></script> -->
<!-- <script src="/static/js/form_interactions.js?{{dt}}"></script> -->
<!-- <script src="/static/js/draw_tri.js?{{dt}}"></script> -->
<script src="/static/js/window_size_dependent.js?{{dt}}"></script>
<!-- <script src="/static/js/copy_text.js?{{dt}}"></script> -->
<script src="/static/js/ru_font_styles.js?{{dt}}"></script>
</body>
<script>
var csrftoken = '{{ csrf_token }}';
</script>
<script src="/static/js/feedback.js?aaf"></script>
</html>







































<!-- <html>
<head><title>Feedback</title>
<link rel="stylesheet" type="text/css" href="/static/css/feedbackcss.css">
<link rel="icon" href="/static/images/favicon.png">
</head>
<body>
<h1 style="font-family:verdana;">Feedback.</h1>
<h4 style="font-family:arial; color:#60a0bf;">edgarvanbin@gmail.com</h4>
<a href="{% url 'mainp' %}">home</a>&nbsp;
<a href="{% url 'about' %}">about</a>&nbsp;
<a href="{% url 'faq' %}">FAQ</a>
<br>



<table align="center"><tr><td>

  <fieldset><legend class="legend_of_main_fieldset">Leave a feedback.</legend>

    <table class="main_table_in_main_fieldset">

      <tr>
        <td class="cell_1_in_main_table_in_main_fieldset">
        </td>
        <td class="cell_2_in_main_table_in_main_fieldset"><a class="message_under_legeng">Write your message here below.</a>
        </td>
        <td class="cell_3_in_main_table_in_main_fieldset">
        </td>
      </tr>

      <tr>
        <td class="cell_4_in_main_table_in_main_fieldset">
        </td>
        <td class="cell_5_in_main_table_in_main_fieldset">
          <table align="center"><tr><td class="cell_of_table_in_fifth_cell">

            <p id="warning_check" class="message_warns_to_check"></p>

            <table id="table_of_check_box" class="area_check_text" style="visibility:hidden"><tr><td>
              <table><tr><td class="cell_check_text">
                <p id="title_message_point" class="title_and_message_check_text"></p>
                <p id="show_title_pre_send" class="title_and_message_check_text_itself"></p>
                <p id="message_message_point" class="title_and_message_check_text"></p>
                <p id="show_message_pre_send" class="title_and_message_check_text_itself"></p>
              </td></tr></table>
            </td></tr></table>

            <form>
              <p id="ptitle" class="form_fields_naming" style="display:block">Title:</p>
              <textarea id="field_title" class="form_textarea" style="resize:none; display:block" cols="48" rows="2" placeholder="Shortly describe your message."></textarea>
              <p id="pmessage" class="form_fields_naming" style="display:block">Message:</p>
              <textarea id="field_message" class="form_textarea" style="resize:none" cols="48" rows="12" placeholder="Input your message here."></textarea>
            </form>

            <fieldset id="fieldset_of_response" class="fieldset_of_response_message" style="display:none">
              <p id="show_response" class="message_of_response" style="display:block"></p>
              <button id="close" class="close_button" type="button" onclick="close_sent_message()" style="display:none">Close</button>
            </fieldset>

          </td></tr></table>
        </td>
        <td class="cell_6_in_main_table_in_main_fieldset">
        </td>
      </tr>

      <tr>
        <td class="cell_7_in_main_table_in_main_fieldset">
        </td>
        <td class="cell_8_in_main_table_in_main_fieldset">

          <table>
            <tr>
              <td>
                <button id="editbutton" class="edit_button" type="button" onclick="edit()" style="display:none"><a id="buttonEdit">Edit</a></button>
              </td>
              <td>
                <button id="multibutton" class="ready_send_button" type="button" onclick="hideform()" style="display:block"><a id="buttonfeedback">Ready</a></button>
              </td>
            </tr>
          </table>

        </td>
        <td class="cell_9_in_main_table_in_main_fieldset">
        </td>
      </tr>

    </table>

  </fieldset>

</td></tr></table>



</body>
<script>
var csrftoken = '{{ csrf_token }}';
</script>
<script src="/static/js/feedback.js?aaf"></script>
</html> -->
